.chip {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: auto;
  font-weight: 400;
  font-family: var(--font-primary);
}
.chip.bold {
  font-weight: 700;
}
.chip.sm {
  font-size: var(--font-xs);
  padding: 0.3rem 0.5rem;
}
.chip.md {
  font-size: var(--font-sm);
  min-height: 2rem;
  padding: 0.3rem 1rem;
}
.chip.lg {
  font-size: var(--font-md);
  min-height: 2rem;
  padding: 0.3rem 1rem;
}
.chip.rounded {
  border-radius: 1rem;
}
.chip.square {
  border-radius: 0.2rem;
}
.chip.outline {
  border-radius: 0.2rem;
}
