/* Utility classes */
.flex {
  display: flex;
}

.align_end {
  align-items: end;
}

.visible {
  display: none;
}

.vh_100 {
  min-height: 100vh;
}

.full_height {
  height: 100%;
}

/* Absolute sizes */
.pt_20 {
  padding-top: 20rem;
}

.pb_20 {
  padding-bottom: 20px;
}

.pl_2 {
  padding-left: 2px;
}

.gap_20 {
  gap: 20px;
}

.gap_10 {
  gap: 10px;
}

/* Section classes */
.section_direction {
  flex-direction: column;
  justify-content: flex-end;
}

.section_padding {
  padding: 10vh 10vw 0 10vw;
}

/* Content classes */
.content_direction {
  flex-direction: column;
}

.content_width {
  width: 100%;
}

.first_text {
  font-size: var(--font-xl);
  color: var(--color-main-dark);
}

.second_text,
.email_icon {
  font-size: var(--font-sm);
  color: var(--color-gray-400);
}

/* Form classes */
.form_direction {
  flex-direction: column;
}

.form_width {
  width: 50%;
}

.input_border {
  border: 0;
  /* border-bottom: 2px solid var(--color-purple); */
}

.input {
  width: 100%;
  padding-left: 5px;
  outline: none;
  background-color: transparent;
}

.input::placeholder {
  font-size: var(--font-xs);
  color: var(--color-gray-500);
}

.button {
  border: none;
  text-align: center;
  width: 130px;
  height: 45px;
  border-radius: 40px;
  font-weight: 600;
  font-family: var(--font-primary);
  font-size: var(--font-md);
  background-color: var(--color-yellow);
  color: black;
}

.arrow {
  position: relative;
  color: var(--color-purple);
  animation: floating 1s linear infinite;
}

.form_border {
  border-bottom: 2px solid var(--color-purple);
}

.image {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
  object-fit: cover;
  filter: brightness(0.5);
}

@media (min-width: 520px) {
  .section_direction {
    align-items: column;
  }

  .second_text,
  .email_icon,
  .arrow_text {
    font-size: var(--font-md);
  }

  .input {
    font-size: var(--font-sm);
  }

  .input::placeholder {
    font-size: var(--font-sm);
  }

  .form_width {
    width: 45%;
  }
}

@media (min-width: 720px) {
  .first_text {
    font-size: var(--font-xxl);
  }

  .second_text,
  .email_icon,
  .arrow_text {
    font-size: var(--font-lg);
  }

  .input {
    font-size: var(--font-md);
  }

  .input::placeholder {
    font-size: var(--font-md);
  }

  .form_width {
    width: 40%;
  }
}

@media (min-width: 920px) {
  .section_direction {
    flex-direction: row;
    align-items: flex-start;
  }

  .left_side {
    padding-top: 5vh;
  }

  .section_padding {
    padding: 0 10vw;
  }

  .image {
    display: none;
  }

  .visible {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1420px) {
}

@keyframes floating {
  0% {
    bottom: 0px;
  }

  50% {
    bottom: 10px;
  }

  100% {
    bottom: 0px;
  }
}
