@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200;12..96,300;12..96,400;12..96,500;12..96,600;12..96,700;12..96,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --font-primary: 'Bricolage Grotesque', sans-serif;
  --font-secondary: 'Roboto', sans-serif;
  --font-xs: calc(0.35vw + 0.618rem);
  --font-sm: calc(0.35vw + 1rem);
  --font-md: calc(0.35vw + 1.618rem);
  --font-lg: calc(0.35vw + 2.618rem);
  --font-xl: calc(0.35vw + 3.236rem);
  --font-2xl: calc(0.25vw + 4.253rem);
  --font-3xl: calc(0.35vw + 5.08rem);
  --font-4xl: calc(0.35vw + 6.942rem);

  font-family: var(--font-secondary);
}
