.button {
  display: grid;
  place-items: center;
  border: 0;
  margin: 0;
  border-radius: 2.25rem;
  border: 0;
  font-family: var(--font-primary);
  font-weight: 700;
  letter-spacing: 0.03rem;
  cursor: pointer;
}
.button.button_small {
  font-size: var(--font-xs);
  padding: 0.7rem 1.5rem;
}
.button.button_regular {
  font-size: var(--font-sm);
  padding: 0.7rem 1.8rem;
}
.button.button_big {
  font-size: var(--font-md);
  padding: 0.8rem 2rem;
}
